name: Docker Image CI for dev

on:
# Controls when the workflow will run
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]


# permissions are needed if pushing to ghcr.io
permissions: 
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Get the repository's code
      - name: Checkout
        uses: actions/checkout@v2
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      # Push to Docker Hub
      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Docker meta
        id: guac
        uses: docker/metadata-action@v3
        with:
          # list of Docker images to use as base name for tags
          images: |
            maxwaldorf/guacamole
          # Docker tags based on the following events/attributes
          tags: |
            type=schedule,pattern=nightly
            type=raw,value=beta

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.guac.outputs.tags }}
          labels: ${{ steps.guac.outputs.labels }}
